@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  /* Allow changing font family via CMS */
  html {
    font-family: 'Avenir LT Std';
  }

  /** Remove default styles from input[type=number] */
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
  }
}

@layer components {

  /** Prevent scroll when modal is open */
  .no-scroll {
    overflow: hidden;
    height: 100vh;
  }

  [data-dot].current div .dot {
    background-color: black;
  }
  [data-dot] div .dot {
    background-color: #E4E4E7;
  }
}

@layer utilities {

  /** Remove scrollbar from overflow-auto */
  .scrollbar-none {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }
}

@font-face {
  font-family: 'Avenir LT Std';
  src: url('/fonts/AvenirLTStd-Black.woff2') format('woff2'),
      url('/fonts/AvenirLTStd-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir LT Std';
  src: url('/fonts/AvenirLTStd-BookOblique.woff2') format('woff2'),
      url('/fonts/AvenirLTStd-BookOblique.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir LT Std';
  src: url('/fonts/AvenirLTStd-Book.woff2') format('woff2'),
      url('/fonts/AvenirLTStd-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir LT Std';
  src: url('/fonts/AvenirLTStd-BlackOblique.woff2') format('woff2'),
      url('/fonts/AvenirLTStd-BlackOblique.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir LT Std';
  src: url('/fonts/AvenirLTStd-Heavy.woff2') format('woff2'),
      url('/fonts/AvenirLTStd-Heavy.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir LT Std';
  src: url('/fonts/AvenirLTStd-HeavyOblique.woff2') format('woff2'),
      url('/fonts/AvenirLTStd-HeavyOblique.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir LT Std';
  src: url('/fonts/AvenirLTStd-Medium.woff2') format('woff2'),
      url('/fonts/AvenirLTStd-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir LT Std';
  src: url('/fonts/AvenirLTStd-Light.woff2') format('woff2'),
      url('/fonts/AvenirLTStd-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir LT Std';
  src: url('/fonts/AvenirLTStd-LightOblique.woff2') format('woff2'),
      url('/fonts/AvenirLTStd-LightOblique.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir LT Std';
  src: url('/fonts/AvenirLTStd-MediumOblique.woff2') format('woff2'),
      url('/fonts/AvenirLTStd-MediumOblique.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir LT Std';
  src: url('/fonts/AvenirLTStd-Oblique.woff2') format('woff2'),
      url('/fonts/AvenirLTStd-Oblique.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir LT Std';
  src: url('/fonts/AvenirLTStd-Roman.woff2') format('woff2'),
      url('/fonts/AvenirLTStd-Roman.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


